id ICON "assets/library-loader-icon.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
BLOCK "StringFileInfo"
BEGIN
    BLOCK "040904E4"
    BEGIN
        VALUE "CompanyName", "My Company Name"
        VALUE "FileDescription", "My excellent application"
        VALUE "FileVersion", "1.0"
        VALUE "InternalName", "library-loader"
        VALUE "LegalCopyright", "Edwin Svensson"
        VALUE "OriginalFilename", "library-loader.exe"
        VALUE "ProductName", "Library Loader"
        VALUE "ProductVersion", "<VERSION_STRING>"
    END
END
BLOCK "VarFileInfo"
BEGIN
    VALUE "Translation", 0x409, 1252
END
END
